name = "medcheck-engine"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

account_id = "cef061ba7db7004eee5cb8a22074efb8"

[[d1_databases]]
binding = "DB"
database_name = "medcheck-db"
database_id = "402b74a6-363d-499a-807a-9cadda9f851c"

[vars]
ENVIRONMENT = "development"
ENGINE_VERSION = "1.0.0"
PATTERN_VERSION = "1.0.0"
LOG_LEVEL = "info"
